.profile {
    width :calc(100% - 100px);
    float:left;
    height:100%;
	background:#91AA85;
}

form.profileForm {
	
	margin-top : 70px;
}

.profileForm {
	display: block;
	width: 220px;
	margin-left : 180px;
	margin-top : 21px;
	height : 20px;
}

.profileStarImage {
	margin-left : 200px;
	display: inline;
}

.profileTextArea {
	height : 40px;
}


.profileImageSubmit {
	width: 50px;
	display: inline;
}


.profileImage {
	width : 150px;
	height : 150px;
	float : right;
	padding-right : 300px;
}