<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../style/css/book/book.css">
	</head>
	<body bgcolor="#b5dcb3">
	
		<table>
		   <tr>
			  <td colspan="2">
				 <input type="text" id="name" value="Name" size="20"/>
			  </td>
		   <tr>
			  <td colspan="2">
				 <input type="text" name="age" id="age" value="Age" size="20"/>
			  </td>
			</tr>
		   <tr>
			  <td colspan="2">
				 <input type="text" name="phone" id="phone" value="Phone" size="20"/>
			  </td>
			</tr>
		   <tr>
			  <td colspan="2">
				 <input type="text" name="email" id="email" value="Email" size="20"/>
			  </td>
			</tr>
		   <tr>
			  <td colspan="2">
				 <textarea rows="4"  cols="20" name="address" id="address" value="Address" ></textarea>
			  </td>
			</tr>
		   <tr>
			  <td>
				 <input type="text" name="profile_image" id="profile_image" value="Profile Image" size="10"/>
			  </td>
			  <td>
				 <input type="button" name="selec_img" id="select_img" value="Select"/>
			  </td>
			 </tr>
			<tr>
				<td></td>
			</tr>
		   <tr>
			  <td>
			  </td>
			  <td>
				 <input type="button" name="Save" id="Save" value="Save" />
			  </td>
			</tr>
		</table>
	</body>
</html>